.place{
    max-width: 80%;
    height: auto;
    padding: 0;
    margin: 0;
}
.bike{
    max-width: 15%;
    height: auto;
    padding: 0;
    margin: 0;
}
.helmet{
    max-width: 50%;
    height: auto;
    padding: 0;
    margin: 0;
}